<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="/web/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/web/css/reset.css">
    <link rel="stylesheet" href="/web/css/index.css">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!--导航栏logo部分-->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">My Albums</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/main">全部相册</a></li>
                <li class="active"><a href="/my_albums">我的相册</a></li>
                <li><a href="/management">管理相册</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <button type="button" class="btn btn-info"><a href="/web/html/login.html">登陆</a></button>
            </form>
            <form class="navbar-form navbar-right">
                <button type="button" class="btn btn-info" id="newFloder">新建相册</button>
            </form>
        </div>
    </nav>

</body>
</html>